.simpleProjectDesc{
    width: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (max-width: 1024px) {
    .simpleProjectDesc{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .simpleProjectDesc{
        width: 100%;
    }
}